nav {
    background: #8ea720;
    color:rgb(194, 223, 90);
    padding: 10px;
}
nav a {
    color: rgb(180, 21, 141);
    text-decoration: none;
    padding:10px 20px;
}
nav .active,
nav a:hover {
    background: #0B6B3A;
}
/* ID Selector */
#intro {
    background: #57b141;
    border: 1px solid #099249;
    min-height: 100px;
    padding: 10px;
    }
    #intro h1 {
    text-align: left;
    border: 0;
    color: rgb(50, 23, 201);
    }
    /* Class Selector */
    .button {
    padding: 15px 20px;
    background: #df5499;
    color: rgb(42, 11, 114);
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    }
    .btn-primary {
    background: #36bddf;
    }